<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <%- include('includes/main-head', {title: 'create-paper'}) %>

  <body>
    <!-- /.site-preloader -->
    <%- include('includes/site-preloader') %> <%-
    include('includes/main-header') %>

    <!--/.main-header-->

    <%- include('includes/popup-search-box') %>
    <!--/.popup-search-box-->

    <div id="searchbox-overlay"></div>
    <!--/.searchbox-overlay-->

    <!-- 
        MARK: Content
    -->
    <section class="contact-section padding">
      <div class="map-pattern"></div>
      <div class="container">
        <div class="row gy-4 align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="section-heading mb-30">

           
          <div class="col-lg-6">
            <div class="contact-form mb-30">
              <form action="/create-paper" method="POST">
                <fieldset>
                  <legend>Publish Your Research Paper</legend>
        
                  <label for="title">Title</label>
                  <br />
                  <input
                    type="text"
                    id="title"
                    name="title"
                    autocomplete="off"
                    required
                  />
                  <br />
        
                  <label for="body">Body</label>
                  <br />
                  <textarea
                    name="body"
                    id="body"
                    autocomplete="off"
                    class="editor"
                    required
                  ></textarea>
        
                  <br />
                
                  <div class="form-field submit-btn">
                    <button
                      id="submit"
                      class="default-btn text-anim"
                      type="submit"
                      data-text="Publish"
                      autocomplete="off"
                      >Publish</button
                    >
                  </div>
                </div>
                <div id="form-messages" class="alert" role="alert"></div>
              </form>
            </div>

            <% if(errors.length > 0) { %>
            <p><mark style="background: tomato">Please fix these:</mark></p>
            <ul class="single-post-list">
              <% errors.forEach((error) => { %>
              <li><%= error %></li>
              <% }) %>
            </ul>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <!--/.contact-section-->

    <%- include('includes/footer') %>
    <!--/.footer-section-->

    <%- include('includes/scrollup') %>
    <!--scrollup-->

    <%- include('includes/toggle-theme') %>
    <!-- Switch Button -->

    <!--jQuery Lib-->
    <%- include('includes/scripts') %>
  </body>
</html>